* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    height: 100vh;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 10px;
    margin: 0 auto;
    max-width: 1280px;
}

.slider {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.images_wrapper {
    display: flex;
    transition: all ease 2s;
    height: 80vh;
}

.slide_image {
    animation: animation_img 5s;
    display: none;
}


@keyframes animation_img {
    from {
        filter: brightness(2) grayscale(1) opacity(0.5);
    }

    to {
        filter: none;
    }
}


.slide_text {
    display: none;

    width: 100%;
    animation: animation_text 5s;
}

@keyframes animation_text {
    from {
        opacity: .2;
    }

    to {
        opacity: 1;
    }
}

.active {
    display: block;
}



.pangination {
    display: flex;
}

.dot {
    width: 2em;
    height: 2em;
    border-radius: 2em;
    background-color: #006EFF;
    border: 10px solid #fff;
    transition: all 1s ease;
}

.dot:hover {
    background-color: #FFD800;
    cursor: pointer;
}

.selected {
    background-color: #FFD800;
    transform: scale(0.8);
}

.selected:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 768px) {

    .container {
        flex-direction: column;
    }

    .images_wrapper {
        order: 1;
    }

    .pangination {
        order: 2;
        margin: 3% 0;
    }

    .text_wrapper {
        order: 3;
    }


}

@media (min-width: 769px)and (max-width: 970px) {
    .text_wrapper {
        max-width: 500px;
    }
}