* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    height: 100vh;
    overflow: hidden;
}


.container {
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 10px;
    margin: 0 auto;
}

.images_wrapper {
    width: 100%;
    margin-bottom: 10px;
}

.slide_images img {
    width: 100%;
}

.slide_images,
.slide_text {
    display: none;
    transform-origin: left;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.active {
    display: block;
}

.pangination {
    display: flex;
}

.dot {
    width: 1.8em;
    height: 1.8em;
    border-radius: 1.8em;
    background-color: #006EFF;
    border: 10px solid #fff;
}

.dot:hover {
    background-color: #FFD800;
    cursor: pointer;
}

.selected {
    background-color: #FFD800;
}

@keyframes move-left {
    from {
        left: 0;
    }

    to {
        left: -100%;
    }
}


@keyframes move-right {
    from {
        left: 100%;
    }

    to {
        left: 0;
    }
}

.to-left {
    animation-name: move-left;
    animation-duration: 2s;
}

.to-right {
    animation-name: move-right;
    animation-direction: reverse;
    animation-duration: 2s;
}

.from-left {
    animation-name: move-left;
    animation-direction: reverse;
    animation-duration: 2s;
}

.from-right {
    animation-name: move-right;
    animation-duration: 2s;
}


@media screen and (max-width: 768px) {

    .container {
        flex-direction: column;
    }

    .images_wrapper {
        order: 1;
    }

    .pangination {
        order: 2;
        margin: 3% 0;
    }

    .text_wrapper {
        order: 3;
    }


}